/* Header Section  */
h1{
    color: rgb(7, 62, 113);
    font-size: 20px;
    text-shadow: 4px 4px 4px rgb(218, 165, 31);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
p{
    text-align: center;
}
hr{
    margin-top: 1px;
    color:rgba(100, 94, 94, 0.977);
    size:3;
    
}
marquee{
    color:rgb(9, 84, 84);
    background-color: bisque;
    height:40px;
    width:100%;
}
h4{
    margin-top:10px;
    font-size: 20px;
}

/* Navigation bar and Footer section  */
footer,nav{
    color:white;
    height:40px;
    width:100%;
    background-color:rgb(7, 62, 113) ;
    text-align: center;

}
a{
    margin-top: 10px;
    color:white;
    font-size: 17px;
    margin-left: 6px;

}
/* Main section  */
h2,h3{
    color:rgb(7, 62, 113);
    text-align: center;
}
button{
    background-color:rgb(7, 62, 113) ;
    color:white;
    height:30px;
    width:150px;
    font-size: 15px;
    text-align: center;
    border: none;
}
iframe,button{
    display: block;
    margin: auto;
}
pre{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
ul,ol{
    width: fit-content;
    margin: auto;
}
/* About table */
caption{
    color:rgb(7, 62, 113);
}
thead{
    color:rgb(3, 108, 108);
    background-color:rgb(240, 221, 153);
}
tbody{
    color:rgb(240, 221, 153);
    background-color:rgb(3, 108, 108);
    
}
table{
    height:200px;
    width:350px;
    text-align: center;
    margin: auto;
}
td{
    margin-left: 15px;
}
.img-size{
    height:300px;
    width:300px;
    margin: auto;
}
