/* Header Section  */
h1{
    color: rgb(7, 62, 113);
    font-size: 20px;
    text-shadow: 4px 4px 4px rgb(218, 165, 31);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
p{
    text-align: center;
}
hr{
    margin-top: 1px;
    color:rgba(100, 94, 94, 0.977);
    size:3;
    
}
marquee{
    color:rgb(9, 84, 84);
    background-color: bisque;
    height:40px;
    width:100%;
}
h4{
    margin-top:10px;
    font-size: 20px;
}

/* Navigation bar and Footer section  */
footer,nav{
    color:white;
    height:40px;
    width:100%;
    background-color:rgb(7, 62, 113) ;
    text-align: center;
    padding-top: 15px;

}
#foot{
    margin-top: 5px;
    padding-top: 1px;
    font-size: 13px;
}
a{
    margin-top: 10px;
    color:white;
    font-size: 17px;
    margin-left: 6px;
    text-decoration: none;

}
/* Main section  */
h2,h3{
    color:rgb(7, 62, 113);
    text-align: center;
}
button{
    background-color:rgb(7, 62, 113) ;
    color:white;
    height:30px;
    width:150px;
    font-size: 15px;
    text-align: center;
    border: none;
}
iframe,button{
    display: block;
    margin: auto;
}
pre{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

/* About table */
caption{
    color:rgb(7, 62, 113);
}
thead{
    color:rgb(3, 108, 108);
    background-color:rgb(240, 221, 153);
}
tbody{
    color:rgb(240, 221, 153);
    background-color:rgb(3, 108, 108);
    
}
table{
    height:200px;
    width:350px;
    text-align: center;
    margin: auto;
}
td{
    margin-left: 15px;
}
.img-size{
    height:300px;
    width:300px;
    margin: auto;
}
.hero{
    height:500px;
    width: 100%;
    background-image: url("/images/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
/* .hero_text{
    text-align: right;
    
} */
.test{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
figcaption{
    color:rgb(7, 62, 113);
    text-align: center;
}
.contact{
    background-color:rgb(240, 221, 153);
    height: 150px;
    width:400px;
    margin-left: 550px;
    margin-bottom: 20px;
    box-shadow: 7px 7px 7px rgb(7, 62, 113);
}
#c_text{
    padding-top: 30px;
}
#map{
    height: 400px;
    width: 400px;
}
#g_map{
    height: 400px; 
    width: 400px;
    border: none;
}
#space{
    padding-top: 200px;
}
