/* Header Section  */

*{
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
}

html, body  {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* .logo{
    text-align: center;
}
.logo img{
    height:80px;
    width:100px;     
} */

h1{
    color: rgb(7, 62, 113);
    font-size: 30px;
    text-shadow: 4px 4px 4px rgb(206, 126, 14);
    text-align: center;
    text-transform: uppercase;
    margin: 2px;
}
h1::first-letter{
    color: rgb(255, 11, 11);
    font-size: 32px;
}
.outside_ul{
    margin-top: 2px;
    text-align: center;
    color:rgb(5, 50, 93);
    list-style: none;
    line-height: 25px;
    font-size: 25px;
}
.list_space{
    list-style: none;
    color: rgb(255, 110, 0);
}
p{
    text-align: center;
    margin-top: 2px;
}
.main{
    margin-top: 0px;
}

/* hr{
    margin-top: 1px;
    color:rgba(100, 94, 94, 0.977);
    size:3;
    
} */
marquee{
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgb(9, 84, 84);
    background-color: bisque;
    height:40px;
    width:100%;
}
h4{
    margin-top:10px;
    font-size: 20px;
}

/* Navigation bar and Footer section  */
nav{ 
   
    color:white;
    height:50px;
    width:100%;
    background-color:rgb(7, 62, 113) ;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align:center;
    /* padding-left: 12px; */
    padding-top: 13px;
    z-index:1030;
}
#menu{
    padding-left: 10px;
    font-size: 20px;
}

footer{
    color:white;
    height:40px;
    width:100%;
    background-color:rgb(7, 62, 113) ;
    text-align: center;
    padding-top: px;
}
#foot{
    margin-top: 15px;
    padding-top:10px;
    font-size: 15px;
}
a{
    margin-top: 10px;
    color:white;
    font-size: 17px;
    margin-left: 10px;
    text-decoration: none;

}
a:hover{
    color:rgb(255, 115, 0);
}
/* Main section  */
h2,h3{
    color:rgb(7, 62, 113);
    text-align: center;
    margin-bottom: 5px;
}
h2:hover{
    color:rgb(255, 115, 0);
}
button{
    background-color:rgb(7, 62, 113) ;
    color:white;
    height:30px;
    width:150px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 10px;
}
button:hover{
    color:rgb(7, 62, 113);
    font-weight: 550;
    background-color: rgb(244, 100, 16);
    transition-duration: 1s;
    transform: translateY(-5px); 
}
iframe,button{
    display: block;
    margin: auto;
}
pre {
  width: 80%;
  background-color: rgb(240, 221, 153);
  padding: 20px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.3;  
  box-shadow: 7px 7px 9px rgb(3, 108, 108);
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap:break-word;
  
}
pre:hover{
    background-color:rgb(18, 150, 150);
    box-shadow: 7px 7px 9px rgb(72, 71, 67) ; 
}

/* About table */
caption{
    color:rgb(7, 62, 113);
    font-size: 20px;
    padding-top: 12px;
}
thead{
    color:rgb(7, 62, 113);
    background-color:rgb(240, 221, 153);
}
/* thead:hover{
    background-color:rgb(7, 62, 113);
    color:rgb(240, 221, 153);
} */
tbody{
    color:rgb(240, 221, 153);
    background-color:rgb(7, 62, 113);  
}
/* tbody:hover{
    background-color:rgb(240, 221, 153);
    color:rgb(7, 62, 113);
} */
table{
    height:200px;
    width:350px;
    text-align: center;
    margin: auto; 
}
td{
    margin-left: 15px;
}
.img-size{
    height:350px;
    width:350px;
    margin: auto;
    box-shadow: 7px 7px 7px rgb(49, 47, 45);
    /* border: 2px solid rgb(7, 62, 113);
    padding:5px */
    border-radius: 7px;
}
.img-size:hover{
    transform: scale(1.0985);
}
.hero{
    height:400px;
    width: 100%;
    background-image: url("/images/hero.png");
    background-repeat: no-repeat;
    background-position:100% 100%;
    background-size:cover;
    margin-top:-30px;
}
#hero_p{
    font-weight: 500;
    font-size: 20px;
}
/* .hero_text{
    text-align: right;
    
} */
.test{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
figcaption{
    color:rgb(7, 62, 113);
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 20px;
}
figcaption:hover{
    color:rgb(255, 115, 0);
}
legend{
    text-align: center;
    font-size: 20px;
    color:rgb(7, 62, 113);
}
fieldset{
    width:20%;
    display: flex;
    justify-content: center;
}
.form_box{
    display: flex;
    justify-content: center;
    height:350px;
}
label{
    font-size: 20px;
}
input{
    height:30px;
    font-size: 20px;
    text-align: center;
    background-color:rgb(255, 115, 0) ;
    color:rgb(7, 62, 113);
    border:none;
    border-radius: 10px;
}

input:focus{
    background-color: rgb(110, 106, 108);
    color:rgb(246, 246, 246);
}

.contact{
    background-color:rgb(240, 221, 153);
    height: 150px;
    width:300px;
    margin: auto;
    box-shadow: 7px 7px 7px rgb(7, 62, 113);
    border-radius: 15px;
}
.contact:hover{
    background-color: rgb(3, 108, 108);
    box-shadow: 7px 7px 7px rgb(240, 221, 153);
    transform: scale(1.2);
}
#c_text{
    padding-top: 30px;
    
}
#map{
    height: 300px;
    width: 300px;
}
#g_map{
    height: 300px; 
    width: 300px;
    border: none;
    border-radius: 15px;
}
#space{
   margin-bottom: 5px;
   padding-top: 150px;
   font-size: 24px;
   color:rgb(7, 62, 113);
   text-align: center;
}

/* psuedo elaments and classes */
::selection{
    color:white;
    background-color: grey;
}
/* input::placeholder{
    background-color: grey;
    color:red;
} */
 ::placeholder{
    color:black;

 }
.social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social_icons  a{
    margin-left: 15px;
    font-size: 30px;
}
.fa-facebook { color: #1877F2; }
.fa-instagram  { color: #E4405F; }
.fa-x-twitter   { color: #0a0707; }
.fa-whatsapp   { color: #0dc20a; }
.fa-youtube    { color: #FF0000; }
.social_icons a:hover{
   color:rgb(255, 115, 0)
}
@media (min-width:200px) and (max-width:393px){
    h1{
        font-size: 20px;
        
    }
    nav{
        z-index: 1030;
    }
    .hero{
        height:200px;
        width: 100%;
        background-image: url("/images/hero.png");
        background-repeat: no-repeat;
        background-position:100% 100%;
        background-size:cover;
        margin-top:-25px;
    }
    #space{
        font-size: 17px;
        padding-top: 60px;
    }
    #hero_p{
        font-size: 15px;
    }
    a{
        font-size: 15px;
    }
}
@media (min-width:394px) and (max-width:513px){
    h1{
        font-size: 20px;
    }
    .hero{
        height:350px;
        width: 100%;
        background-image: url("/images/hero.png");
        background-repeat: no-repeat;
        background-position:100% 100%;
        background-size:contain;
        margin-top:-135px;
    }
    #space{
        padding-top: 175px;
    }
    a{
        font-size: 17px;
    }
}
@media (min-width:840px) {
    .hero{
       height:550px;
       width: 100%;
       background-repeat: no-repeat;
       background-position:100% 100%;
       background-size:cover;
       /* margin-top:-125px; */
    } 
    #space{
        padding-top: 225px;
    }
  
}