/* Header Section  */

*{
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1{
    color: rgb(7, 62, 113);
    font-size: 20px;
    text-shadow: 4px 4px 4px rgb(218, 165, 31);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
.outside_ul{
    text-align: center;
    color:rgb(5, 50, 93);
    list-style: none;
    line-height: 20px;
}
.list_space{
    list-style: none;
    color: rgb(207, 123, 28);
}
p{
    text-align: center;
}

hr{
    margin-top: 1px;
    color:rgba(100, 94, 94, 0.977);
    size:3;
    
}
marquee{
    color:rgb(9, 84, 84);
    background-color: bisque;
    height:40px;
    width:100%;
}
h4{
    margin-top:10px;
    font-size: 20px;
}

/* Navigation bar and Footer section  */
footer,nav{
    color:white;
    height:40px;
    width:100%;
    background-color:rgb(7, 62, 113) ;
    text-align: center;
    padding-top: 13px;

}
#foot{
    margin-top: 15px;
    padding-top:1px;
    font-size: 13px;
}
a{
    margin-top: 10px;
    color:white;
    font-size: 17px;
    margin-left: 6px;
    text-decoration: none;

}
a:hover{
    color:rgb(255, 115, 0);
}
/* Main section  */
h2,h3{
    color:rgb(7, 62, 113);
    text-align: center;
}
h2:hover{
    color:rgb(255, 115, 0);
}
button{
    background-color:rgb(7, 62, 113) ;
    color:white;
    height:30px;
    width:150px;
    font-size: 15px;
    text-align: center;
    border: none;
}
button:hover{
    color:rgb(7, 62, 113);
    background-color: white;
    border:2px solid gray; 
}
iframe,button{
    display: block;
    margin: auto;
}
pre {
  width: 80%;
  background-color: rgb(240, 221, 153);
  padding: 20px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.3;  
  box-shadow: 7px 7px 9px rgb(3, 108, 108);
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap:break-word;
}
pre:hover{
    background-color:rgb(18, 150, 150);
    box-shadow: 7px 7px 9px rgb(72, 71, 67) ; 
}

/* About table */
caption{
    color:rgb(7, 62, 113);
    font-size: 20px;
    padding-top: 12px;
}
thead{
    color:rgb(7, 62, 113);
    background-color:rgb(240, 221, 153);
}
tbody{
    color:rgb(240, 221, 153);
    background-color:rgb(3, 108, 108);
    
}
table{
    height:200px;
    width:350px;
    text-align: center;
    margin: auto;
   
}
td{
    margin-left: 15px;
}
.img-size{
    height:350px;
    width:350px;
    margin: auto;
    box-shadow: 6px 6px 9px rgb(32, 117, 197);
}
.hero{
    height:400px;
    width: 100%;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
/* .hero_text{
    text-align: right;
    
} */
.test{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
figcaption{
    color:rgb(7, 62, 113);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
figcaption:hover{
    color:rgb(255, 115, 0);

}
.contact{
    background-color:rgb(240, 221, 153);
    height: 150px;
    width:300px;
    margin: auto;
    box-shadow: 7px 7px 7px rgb(7, 62, 113);
}
#c_text{
    padding-top: 30px;
    
}
#map{
    height: 300px;
    width: 300px;
}
#g_map{
    height: 300px; 
    width: 300px;
    border: none;
}
#space{
   padding-top: 150px;
   font-size: 24px;
   color:rgb(7, 62, 113);
   text-align: center;
}

